body{
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	box-sizing: border-box;
	line-height: 22px;
	background: grey;
}

a{
	text-decoration: none;
}

ul{
	list-style: none;
}

.container{
	width: 1146px;
	margin: 0 auto;
}

.hidden{
	display: none;
}

.visually-hidden{
	visibility: hidden;
}

header{
	height: 125px;
	background-color: rgba(255,153,153, 0.8);
}

header img{
	float: left;
	background-color: aqua;
}

.header-menu{
	font-weight: bold;
	line-height: 18px;
	background-color: rgba(153,160,255, 0.8);
	float: left;
}
.header-menu li{
	display: inline-block;
}

.user-block{
	font-size: 14px;
	font-weight: normal;
	line-height: 16px;
	background-color: rgba(216, 192, 57, 0.8);
	display: inline-block;
}

.user-block li{
	float: left;
}

.search{
	position: relative;
}

.search::before{
	content: "";
	position: absolute;
	width: 17px;
	height: 17px;
	background: url(../img/search-icon.svg);
}

.enter{
	position: relative;
}

.enter::before{
	content: "";
	position: absolute;
	width: 21px;
	height: 19px;
	left: -19px;
	background: url(../img/enter-icon.svg);
}

.basket{
	position: relative;
}

.basket::before{
	content: "";
	position: absolute;
	width: 21px;
	height: 20px;
	left: -20px;
	background: url(../img/basket-icon.svg);
}

.contact-info{
	font-weight: bold;
	float: right;
	background-color: green;
}

.contact-info p:nth-child(1){
	font-size: 14px;
	line-height: 16px;
}
.contact-info p:nth-child(2){
	font-size: 22px;
	line-height: 24px;
}

.breadcrumbs{
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
}

.section-title{
	font-size: 35px;
	font-weight: bold;
	line-height: 41px;
}

.slider{
	height: 525px;
	float: left;
	background-color: rgba(216, 192, 57, 0.8);

}

.slider li{
	font-size: 32px;
	font-weight: bold;
	line-height: 44px;
}

.slider li b{
	font-size: 60px;
	font-weight: bold;
	line-height: 60px;
}

.banners{
	font-weight: bold;
	color: #fff;
	float: left;
}

.banners-items{
	position: relative;
}

.banners-list li:first-child{
	width: 560px;
	height: 229px;
	float: left;
	background-image: url(../img/banner-1.jpg);
	border-radius: 15px;
}

.banners-list li:nth-child(2){
	width: 560px;
	height: 229px;
	float: left;
	background-image: url(../img/banner-2.jpg);
	border-radius: 15px;
}

.banners h3{
	font-size: 35px;
	line-height: 41px;
}

.banners p{
	font-size: 18px;
}

.banners a{
	line-height: 24px;
	color: #fff;
}

.popular h2{
	visibility: hidden;
}

.popular-item p{
	font-size: 45px;
	line-height: 45px;
	font-weight: bold;
}

.popular-item p span{
	font-size: 30px;
	line-height: 45px;
	font-weight: bold;
}

.popular-item h3{
	font-weight: 500;
}

/* Каталог */

.products h3{
	font-weight: 500;
}

.products-list li p{
	font-size: 45px;
	line-height: 45px;
	font-weight: bold;
}

.products-list li p span{
	font-size: 30px;
	line-height: 45px;
	font-weight: bold;
}

.about-us{
	position: relative;
	width: 100%;
	height: 310px;
	background-image: url(../img/waffle-bg.png);
	border-radius: 10px;
}

.about-us h2{
	font-size: 24px;
	font-weight: 500;
	line-height: 30px;
}

.about-us li p{
	color: #323232;
}

.blog{
	color: #323232;
	width: 560px;
	height: 220px;
	float: left;
	background-image: url(../img/blog-banner.jpg);
	border-radius: 15px;
}

.blog p{
	font-weight: 500;
}

.blog a{
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
	text-decoration: underline;
	color: #323232;
}

.mail-bg{
	width: 560px;
	height: 220px;
	background-image: url(../img/mail-bg.png);
	float: left;
    border-radius: 15px;
}

.subscribe{
	color: #5a5a5a;
	font-weight: 400;
	width: 550px;
	height: 210px;
	margin: 5px 0 0 5px;
	float: left;
	background-color: #f8f7f4;
    border-radius: 15px;
}

footer{
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
	clear: both;
}

footer .menu-footer li:nth-child(1) a{
	font-size: 13px;
	font-weight: bold;
	position: relative;
}

footer .menu-footer li:nth-child(1) a::before{
	content: '';
	position: absolute;
	left: -15px;
	width: 15px;
	height: 13px;
	background-image: url(../img/heart-icon.svg);
}